* {
	font-family: Roboto;
}

body {
	background-color: #EE514A;
  transition-duration: 500ms;
  padding: 0px;
  padding-top: 50px;
  margin: 0px;
    font-weight: 300;
}

a {
	text-decoration: none;
}

        * {
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none; 
        }

        .yd-table {
            /*border-spacing: 0px;*/
        }

        .yd-table tr td {
            width: 24px;
            height: 24px;
            background-color: #eee;
            border: none;
        }

        .yd-table tr td.selected {
            background-color: #ccc;
        }

        .item-table {
            /*position: absolute;*/
        }

        .item-table.one {
        	margin-top: 25px;
        }

        .item-table.two {
        	margin-top: 10px;
        }

        .item-table tr td.active {
        }

        .item-table-green tr td.active {
            background-color: #44aa44; 
        }

        .t {
            transition-duration: 500ms;
            position: relative;
        }

        .item-container {
            /*display: inline-block;*/
            /*text-align: center;*/
            /*width: 100px;*/
            height: 80px;
        }


.container {
	text-align: center;
}

.game-title {
	font-size: 45px;
	color: #fff;
	font-weight: 300;
}

.game-title strong {
	font-weight: 700;
}

.game-canvas table,
table.item-table {
	display: inline-block;
	border-collapse: collapse;
}

.game-canvas table tr td {
	background-color: #fff;
	border: 1px solid #ddd;
}

table.item-table tr td.active {
	border: 2px solid #fff;
}

.game-canvas table tr td {
  width: 24px;
  height: 24px;
}

.block {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
}

.block-set {
    /*width: 26px;*/
    /*display: inline-block;*/
    float: left;
    position: relative;
    bottom: 0px;
}

table.item-table tr td {
	width: 16px;
	height: 16px;
  transition-duration: 250ms;
}

table.item-table.ui-draggable-dragging tr td {
  width: 24px !important;
  height: 24px !important;
}

.game-canvas table tr td {
}

.game-canvas table tr td.selected {
	border: 1px solid #fff;
}

.game-canvas table tr td.green {
	background-color: #44aa44;
}

.green {
	background-color: #44aa44;
}

.game-canvas table tr td.yellow {
	border: 1px solid #fff;
	background-color: #F0C419;
}

.yellow {
	background-color: #F0C419;
}

.game-canvas table tr td.red {
	background-color: #F15A5A;
}

.red {
	background-color: #F15A5A !important;
}

.game-canvas table tr td.purple {
	background-color: #955BA5;
}

.purple {
	background-color: #955BA5 !important;
}

.game-canvas table tr td.blue {
	background-color: #2D95BF;
}

.blue {
	background-color: #2D95BF !important;
}

.game-canvas table tr td.kor {
	background-color: #683B10;
}

.kor {
	background-color: #683B10 !important;
}

.btn.btn-white {
  background : #FFFFFF;
  width: 250px;
  height: 45px;
  border-radius : 3px;
}

.btn.btn-red {
  background : #F15A5A;
  width: 250px;
  height: 45px;
  border-radius: 3px;
  color: #fff;
}

.btn {
  display: inline-block;
  font-family : Roboto;
  font-size : 35px;
  text-transform : uppercase;
  text-decoration: none;
  color : #022F32;
  box-shadow : 0px 3px 0px rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#000000') ;
}

.font-medium {
  line-height: 1.8;
  font-size: 25px;
}

.btn:active {
  margin-bottom: -2px;
  margin-top: 2px;
  box-shadow : 0px 1px 0px rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#000000') ;
}

.btn.vertical-space:active {
  margin-top: 15px;
}

.vertical-space {
	margin-top: 20px;
}

.btn.vertical-space {
	margin-top: 23px;
}

.btn.vertical-space:active {
	margin-top: 25px;
}

.game-info {
	font-size: 35px;
	color: #fff;
	font-weight: 300;
  	text-transform : uppercase;
}

.header-red {
	font-size: 70px;
	color: #F15A5A;
	font-weight: 900;
  	text-transform : uppercase;
}

.shadow {
  text-shadow : 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.box-shadow {
  box-shadow : 0px 3px 0px rgba(0, 0, 0, 0.75);
}

a.shadow:active {
	margin-bottom: -2px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.game-bar {
	font-size: 50px;
	font-weight: 900;
}

.game-bar .points-header, .game-bar .points, .money {
  font-size: 50px;
  font-weight: 900;
	display: inline-block;
}

.monet {
	display: inline-block;
	border-radius: 100%;
	background : #FCEA10;
	border: 5px solid #F0C419;
	margin-bottom: -7px;
	width: 35px;
	height: 35px;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.points-header {
	color: #087070;
	text-transform: uppercase;
}

.points {
  padding-right: 30px;
}

.game-bar .points, .money {
	color: #fff;
}

.light-blue {
	background-color: #84CCC1;
}

.darker-blue {
	background-color: #022F32;
}

.dark-blue {
	background-color: #087070;
}

.game-panel {
	width: 200px;
	height: 298px;
	text-align: center;
}

.bank-link {
	color: #F15A5A;
}

.shop-table {
  display: inline-block;
}

.shop-table tr td:first-child {
  min-width: 140px;
  text-align: left;
}

.message {
  display: inline-block;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 480px;
  background-color: #fff;
  margin-top: 10%;
}

.friends {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.friend {
  display: inline-block;
  padding: 15px;
}

.friend .photo {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 100%;
  float: left;
}

.friend .fr-text, .friend .name{
  float: right;
  position: relative;
  text-align: left;
  color: #fff;
    font-weight: 500;
  padding-top: 20px;
  padding-left: 10px;
}

.friend .name {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1;
}

.friend .max-point {
  font-size: 20px;
    font-weight: 500;
}

.menu-item {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  transition-duration: 500ms;
}

.menu-item a {
  color: #fff;
}

.menu-item:hover {
  border-bottom: 3px solid #F15A5A;
}

.menu-item.selected {
  border-bottom: 3px solid #F15A5A;

}

.rating-table td {
  font-size: 30px;
}

.rating-table tr td:first-child {
  color: #fff;
  padding-right: 20px;
}

.rating-table tr td:last-child {
  color: #DF5353;
  font-weight: 900;
}

.buy-item-btn {
  position: fixed;
  top: 86px;
  right: 0px;
  background: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px;
  font-weight: 900;
  color: #333;

  transition-duration: 500ms;
}

.ulevel:hover {
    opacity: 0.5;
}

.buy-item-btn:hover {
  box-shadow : 0px 3px 0px rgba(0, 0, 0, 0.75); 
}

.buy-item-btn.active {
  height: 238px; 
} 

.item-table-min tr td {
  width: 14px !important;
  height: 14px !important;
  border: 1px solid white;
}

.levels-table {
  display: inline-block;
  border-collapse: collapse;
  font-size: 26px;
  font-weight: 700;  
}

.levels-table tr td {
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
  color: #fff;
  text-shadow : 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.lt-red {
  background-color: #EA5A5A;
}

.lt-purple {
  background-color: #945BA2;
}

.lt-orange {
  background-color: #945BA2;
}

.lt-blue {
  background-color: #2B95BF;
}

.lt-green {
  background-color: #51B56D;
}

.lt-grey {
  background-color: #9D9D9C;
  border-color: #000;
}

.level-item {
    width: 54px;
    height: 54px;
    position: absolute;
    left: -53px;
    border: 1px solid #ddd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 1px;
    font-size: 20pt;
    font-weight: 300;
    color: white;
}



.line {
    /*border-radius: 3px;*/
    cursor: pointer;
    display: table-cell;
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    width: 200px;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #087070;
    /*opacity: 0.8;*/
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    transition-duration: 500ms;
}

.line a {
    color: #fff !important;
}

.line:hover {
    background-color: #14A1A1;
}

.line:first-child {
    border-left: none;
}






.main-msg {
    position: absolute;
    z-index: 99;
    top: 60px;
    left: 190px;

    text-align: center;
}

.back {
    background: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 95;
}

.rshadow {
    transition-duration: 200ms;
}

.rshadow:hover {
    box-shadow: 0 0 20px #0000ff;
}

.mhl {
    height: 256px;
    position: absolute;
    top: 178px;
    left: -29px;
    transition-duration: 2000ms;
}

.mhl.ok {
    top: 176px;
    left: -38px;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
}

.mhr {
    height: 256px;
    position: absolute;
    left: 145px;
    top: 178px;
    transition-duration: 2000ms;
}

.mhr.ok {
    left: 156px;
    top: 177px;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
}



.m-ad-1 {
    position: absolute;
    left: 30px;
    top: 140px;
}

.m-ad-2 {
    position: absolute;
    right: 30px;
    top: 140px;
}

.m-ad-active {
    box-shadow: 0 0 20px #ffffff;
}